$gray: #808080;
$black: #000;
$white: #FFF;
$fa: #fafafa;
$dodgerblue: #1e90ff;
$targetmsg: #357CA5;
$hovermsg: #00a7d0;

.list-contact ul {
  list-style: none;
  margin: 5px;
  padding: 0;

  li {
    border-radius: 3px;
    box-shadow: 0 0 5px $gray;
    cursor: pointer;
    margin: 5px;
    overflow: hidden;
    padding: 5px;
    transition: .25s;

    img {
      border: 1px solid $gray;
      border-radius: 50%;
      float: left;
      height: 50px;
      margin-right: 5px;
      width: 50px;
    }

    div {
      height: 50px;
    }
  }

  li:hover {
    box-shadow: 0 0 5px $black;
  }
}

.modal {

  .tab-pane {
    height: 490px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  hr {
    margin: 10px;
  }
}

.border-left {
  border-right: 2px solid $gray;
}

.navbar-custom-menu {

  a {
    cursor: pointer;
  }
}

.room {
  height: calc(100vh - 100px);

  .box-body {
    height: calc(100vh - 220px) !important;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .avatar {
    border: 2px solid $fa;
    border-radius: 50% 50% 0;
    height: 36px;
    width: 36px;
  }

  .messages {
    list-style: none;
    padding: 0;

    li {
      padding: 0 10px;

      .load-messages{
        transition: .25s;
        color: $targetmsg;
        cursor: pointer;
      }

      .load-messages:hover{
        color: $hovermsg;
      }

      .userinfo{
        padding-bottom: 5px;
      }

      .message-content {
        cursor: pointer;
        transition: 0.25s;
        border-radius: 3px;
        padding: 4px 0;
        border: 1px solid $white;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      .time {
        text-align: right;
        font-size: 12px;
        color: gray;
        padding-top: 3px;
        transition: 0.25s;
        overflow: hidden;
        padding-right: 10px;
      }
    }

    li:hover .message-content {
      padding: 4px 0;
      border: 1px solid $dodgerblue;
      background-color: rgba(0, 178, 240, 0.1)
    }
  }
}

.members {
  img {
    margin: 5px;
  }
}
