<aside class="main-sidebar" ng-controller="SidebarController">
  <section class="sidebar">
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..." ng-model="search">
        <span class="input-group-btn">
          <button type="submit" name="search"
            id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <ul class="sidebar-menu">
      <li ng-repeat="room in rooms | filter:{name: search}">
        <a ui-sref="room({room_id: room.id})">
          <i class="fa fa-circle-o text-red"></i><span>{{ room.name }}</span>
          <span ng-if="room.reply_count > 0" class="box">
            <%= t "rooms.re" %>
            <span class="label label-warning">{{ room.reply_count }}</span>
          </span>
          <span ng-if="room.mention_count > 0" class="box">
            <%= t "rooms.me" %>
            <span class="label label-warning">{{ room.mention_count }}</span>
          </span>
        </a>
      </li>
    </ul>
  </section>
</aside>
