<footer>
  <div class="splitter"></div>
  <ul>
    <ul>
      <li>
        <div class="icon" data-icon="E"></div>
        <div class="text">
          <h4>About us</h4>
          <div>Bacon ipsum dolor sit amet chuck hamburger ribeye sirloin,
            meatloaf ball tip filet mignon pancetta shank. Tail turkey pork,
            ribeye sirloin tenderloin jerky beef bacon flank. Tenderloin
            strip steak ham bacon short loin leberkas swine.<br>
            <a href="#">Read more</a></div>
        </div>
      </li>
      <li>
        <div class="icon" data-icon="a"></div>
        <div class="text">
          <h4>Announce</h4>
          <div>Bacon ipsum dolor sit amet chuck hamburger ribeye sirloin,
            meatloaf ball tip filet mignon pancetta shank. Tail turkey pork,
            ribeye sirloin tenderloin jerky beef bacon flank. Tenderloin
            strip steak ham bacon short loin leberkas swine.<br>
            <a href="#">Read more</a></div>
        </div>
      </li>
      <li>
        <div class="icon" data-icon="s"></div>
        <div class="text">
          <h4>News</h4>
          <div>
            Tri-tip chicken capicola pig shank ham
            swine spare ribs pork loin flank pancetta ball tip.
            Ham doner tongue salami filet mignon ground round
            turducken biltong<br>
            <a href="#">Read more</a></div>
        </div>
      </li>
    </ul>
  </ul>
  <div class="bar">
    <div class="bar-wrap">
      <ul class="links"> <!-- footer menu -->
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Announce</a></li>
      </ul>

      <div class="social">
        <a href="#" class="fb">
          <span data-icon="f" class="icon"></span>
          <span class="info">
                    <span class="follow">follow on Facebook</span>
                    <span class="num">9,999</span>
                </span>
        </a>

        <a href="#" class="rss">
          <span data-icon="R" class="icon"></span>
          <span class="info">
            <span class="follow">RSSを購読する</span>
            <span class="num">9,999</span>
        </span>
        </a>
      </div>
      <div class="clear"></div>
      <div class="copyright">Leng Keng &copy;  2017 All Rights Reserved</div>
    </div>
  </div>
</footer>
